doctype html
html
  head
    meta(charset="utf-8")
    title Title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    link(rel="stylesheet", href="css/main.css")
      
  body

    main
      a.cta(href="") Learn More Now <i class="ion-chevron-right"></i>
      h1 
        span Good at 
        br
        span business?
    
    .overlay
      .modal
        .close-btn: <i class="ion-close"></i>
        
        .text-box
          p.lead Business stuff in your inbox, all the time.
          p Sign up for our newsletter to download this 200+ page secrets of business PDF!
          
        .graphic
        form
          input(type="text", placeholder="Email Address")
          input(type="submit")
    
    script(src="//use.typekit.net/fqw4vwp.js")
    script try{Typekit.load();}catch(e){}

    script(src="http://code.jquery.com/jquery-1.7.2.min.js")
    script(src="js/app.js")
