$yellow:#f8d902;

body {
	background:url('../images/background.jpg') no-repeat center center fixed;
	background-size:cover;
	font-family:'Open Sans Condensed';
}

.hero {
	position:absolute;
	top:50%;
	left:40%;
	margin-top:-125px;
	
	.message span {
		display:block;
		float:left;
		clear:both;
		background-color:black;
		color:$yellow;
		font-weight:900;
		font-size:84px;
		padding:0 24px;
		margin:5px 0;
	}
	
	.call-to-action {
		clear:both;
		background-color:$yellow;
		float:left;
		font-size:23px;
		padding:16px 20px;
		font-weight:bold;
		margin-top:5px;
		cursor:pointer;
	}
}

.modal-container {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba($yellow, 0.9);
	opacity:0;
	pointer-events:none;
	transition:opacity 0.2s;
	
	.modal {
		position:absolute;
		left:50%;
		top:50%;
		width:600px;
		height:360px;
		background-color:white;
		margin-top:-220px;
		margin-left:-300px;
		box-shadow:0 0 18px 0 rgba(0, 0, 0, 0.4);
		transition:margin 0.2s;
		
		.close-button {
			position: absolute;
			left:100%;
			bottom:100%;
			margin-left:10px;
			margin-bottom:10px;
			width:24px;
			height:24px;
			background-image:url('../images/x.png');
			cursor: pointer;
		}
		
		.content {
			height:263px;
			width:100%;
			
			.left-half {
				width:343px;
				height:100%;
				float:left;
				
				.title {
					font-size:28px;
					font-weight:bold;
					padding:30px;
				}
				
				.body {
					padding:0 120px 0 30px;
					font-weight:bold;
					color:#999999;
					line-height:1.6em;
				}
			}
			
			.sample-pages {
				width:257px;
				height:100%;
				background-image:url('../images/pages.png');
				float:left;
			}
		}
		
		.form {
			height:97px;
			width:100%;
			background-color:black;
			
			input {
				box-sizing:border-box;
				height:57px;
				padding:20px;
				margin:20px;
				border:none;
				display:block;
				float:left;
				font-family:'Open Sans Condensed';
				font-weight:bold;
				font-size:14px;
			}
			
			.email {
				width:380px;
			}
			
			.submit {
				margin-left:0;
				width:160px;
				background-color:$yellow;
				cursor:pointer;
			}
		}
	}
}

//Javascript Interactions

.modal-open {
	.modal-container {
		opacity:1;
		pointer-events:all;
		
		.modal {
			margin-top:-180px;
		}
	}
}